.main {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;

  .header {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    .count {
      margin-left: auto;
    }

    svg {
      cursor: pointer;
    }
  }

  .removed {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    input {
      width: 50%;
    }

    .removedCard {
      align-items: center;
      display: flex;
      gap: 0.2rem;

      svg {
        cursor: pointer;
      }
    }
  }

  .remaining {
    height: 45rem;
    overflow: auto;
  }
}
